* @donosonaumczuk @defispartan @JosepBove @lnmunhoz @JoaquinBattilana @0xjim

/packages/contracts/ @donosonaumczuk @JosepBove

/packages/frontend/ @defispartan @JoaquinBattilana @lnmunhoz

/packages/subgraph/ @defispartan @donosonaumczuk

/scripts/ @defispartan @JoaquinBattilana @lnmunhoz
