node_modules
.env
coverage
coverage.json
packages/contracts/typechain
build
!.github/actions/build

.idea/
.vscode

#Hardhat files
cache
artifacts

#subgraph build
packages/*/build/
packages/*/generated/
packages/*/subgraph.yaml
generated.ts