name: Build and deploy staging

on:
  push:
    branches:
      - main
      - development
      - github-actions-deploy

jobs:
  frontend:
    environment: staging
    runs-on: ubuntu-latest
    env:
      working-directory: ./packages/frontend
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/build
        with:
          WORK_DIR: '${{env.working-directory}}'

      - name: Deploy to AWS S3
        uses: ./.github/actions/deploy
        with:
          S3_BUCKET: ${{secrets.S3_BUCKET}}
          S3_PREFIX: nftime-staging
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          AWS_REGION: ${{secrets.AWS_REGION}}
          WORK_DIR: '${{env.working-directory}}'
